.header {
  background: #323232;
}

.header__top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 180px;
}

.header__top nav {
  height: 100%;
}

.header__top--navList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 56px;
  line-height: 40px;
  margin-top: 20px;
}

.header__top--navList li {
  margin-right: 56px;
}

.header__top--navList a {
  color: #AFAFAF;
  text-decoration: none;
  display: inline-block;
  width: 80px;
  text-align: center;
}

.header__top--navList .active {
  border-bottom: 4px solid #fff;
  padding-bottom: 15px;
  color: #fff;
}

.header__top--logo:hover {
  -webkit-animation: bounceLogo 1s;
          animation: bounceLogo 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.header__top--navList a:hover {
  color: #f3b976;
  border-bottom: 4px solid #f3b976;
  padding-bottom: 15px;
}

.header__bottom-show {
  height: 670px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(50, 50, 50, 0.4)), to(rgba(50, 50, 50, 0.4))), url(../assets/Images/music.jpg);
  background-image: linear-gradient(to left, rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url(../assets/Images/music.jpg);
  position: relative;
}

.header__bottom-show--iframe {
  width: 436px;
  height: 146px;
  position: absolute;
  right: 180px;
}

.header__bottom-show--text {
  color: #fff;
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  top: 160px;
  left: 180px;
  margin: 0;
}

.header__bottom-show--heading {
  position: absolute;
  top: 224px;
  color: #fff;
  padding-left: 180px;
  font-size: 60px;
  line-height: 68px;
  width: 560px;
  margin: 0;
  -webkit-animation: moveHorizontal 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: moveHorizontal 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header__bottom {
  height: 670px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/Images/hero.jpg);
  background-image: linear-gradient(to left, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero.jpg);
}

.header__bottom--heading {
  color: #fff;
  padding-left: 180px;
  font-size: 60px;
  line-height: 68px;
  width: 560px;
  margin: 0;
  -webkit-animation: moveHorizontal 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: moveHorizontal 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@-webkit-keyframes bounceLogo {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounceLogo {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes moveHorizontal {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  75% {
    opacity: 0.7;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveHorizontal {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  75% {
    opacity: 0.7;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  font-family: 'AvenirNext LT Pro';
}

body {
  margin: 0;
  padding: 0;
  color: #323232;
}

.music {
  width: 896px;
  margin: auto;
}

.music__top--header1 {
  font-size: 36px;
  line-height: 44px;
  margin: 48px 0;
  position: relative;
  left: -92px;
}

.music__top--image {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

.music__top.js--wp-1 {
  opacity: 1;
}

.music__top--header2 {
  font-size: 24px;
  line-height: 32px;
  margin: 48px 0 40px 0;
  width: 800px;
}

.music__top p {
  margin: 0;
}

.music__top--bottomHeader2 {
  font-size: 24px;
  line-height: 32px;
  margin: 56px 0 32px 0;
}

.music__top--musician {
  font-weight: bold;
}

.music__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.music__bottom--left {
  width: 420px;
  margin-right: 40px;
}

.music__bottom--right {
  width: 420px;
}

.music__bottom p {
  margin: 0 0 48px 0;
}

.photoGallery {
  background: #FAFAFA;
}

.photoGallery__box {
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.photoGallery__box--header {
  padding: 48px 0 64px 0;
  margin: 0;
  font-size: 36px;
  line-height: 44px;
}

.photoGallery__box--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.photoGallery__box--images figure {
  width: 344px;
  height: 193px;
  margin: 0;
  overflow: hidden;
  background: #323232;
}

.photoGallery__box--images figure:not(:nth-child(3n)) {
  margin: 0 24px 24px 0;
}

.photoGallery__box--images img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.photoGallery__box--images img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.comment {
  width: 1080px;
  padding: 48px 0 40px 0;
  margin: 0 auto;
}

.comment__alert {
  padding: 10px;
  background: #ffbfbf;
  border: 2px solid red;
  color: red;
  border-radius: 4px;
  margin: 30px auto;
  width: 350px;
  text-align: center;
}

.comment__header {
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 56px 0;
}

.comment__form {
  width: 528px;
  margin: 0 auto;
}

.comment__form label {
  color: #AFAFAF;
  position: relative;
  left: 70px;
  font-size: 75%;
  margin-bottom: 8px;
  display: inline-block;
}

.comment__form--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 24px 0;
}

.comment__form--name img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.comment__form--name input {
  height: 48px;
  padding: 0 15px;
  width: 460px;
  border-radius: 4px;
  border: 1.5px solid #E1E1E1;
}

.comment__form--name input:focus, .comment__form--text textarea:focus {
  border-color: #323232;
  outline: none;
}

.comment__form--text textarea {
  height: 96px;
  padding: 16px 15px;
  width: 428px;
  border-radius: 4px;
  border: 1.5px solid #E1E1E1;
  margin-left: 68px;
}

.comment__form--btn {
  background: #323232;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  color: #fff;
  border-color: #323232;
  font-weight: bold;
  margin: 24px 0;
  position: relative;
  left: 368px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.comment__form--btn:hover {
  background: black;
}

.comment__content {
  border-top: 1px solid #E1E1E1;
  width: 528px;
  margin: 0 auto;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.comment__content:last-child {
  border-bottom: 1px solid #E1E1E1;
}

.comment__content--left {
  width: 48px;
  margin-right: 16px;
  height: 48px;
}

.comment__content--imageSpan {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #AFAFAF;
}

.comment__content--right {
  width: 464px;
}

.comment__content--name {
  display: inline-block;
  margin-right: 16px;
  font-weight: 500;
}

.comment__content--date {
  color: #AFAFAF;
}

.comment__content--text {
  margin-bottom: 0;
}

.comment__content--span {
  width: 20px;
  height: 20px;
  background: url(../assets/Icons/PNG/like.png) 0 0 no-repeat;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.comment__content--span:hover {
  background: url(../assets/Icons/PNG/like-hover.png) 0 0 no-repeat;
}

.comment__content--likeCount {
  float: right;
}

.comment__content--remove {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../assets/Icons/PNG/remove.png) 0 0 no-repeat;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.comment__content--remove:hover {
  background: url(../assets/Icons/PNG/remove-hover.png) 0 0 no-repeat;
}

.show {
  padding: 48px 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__left {
  width: 276px;
}

.show__left--header {
  font-size: 36px;
}

.show__right {
  width: 804px;
}

.show__right--mobile-th {
  display: none;
}

.show__right--table {
  border-collapse: collapse;
  width: 100%;
}

.show__right--table tbody tr {
  border-bottom: 1px solid #AFAFAF;
}

.show__right--table tbody td {
  padding: 0;
  width: 201px;
}

.show__right--table tbody td:last-child {
  text-align: right;
}

.show__right--header {
  text-align: left;
  color: #AFAFAF;
  font-weight: normal;
  font-size: 12px;
}

.show__right--date {
  font-weight: 500;
}

.show__right--btn {
  background: #323232;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  color: #fff;
  border-color: #323232;
  font-weight: bold;
  margin: 24px 0;
  position: relative;
  left: 368px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  position: static;
  margin-bottom: 16px;
}

.show__right--btn:hover {
  background: black;
}

footer {
  background-color: #323232;
  padding: 48px 0;
}

.footer {
  width: 1080px;
  margin: 0 auto;
  color: #fff;
}

.footer__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

.footer__row1--header {
  font-size: 36px;
  line-height: 44px;
  margin: 0 60px 0 0;
}

.footer__row1--icons i {
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-right: 32px;
}

.footer__row1--icons i:first-child {
  background: url(../assets/Icons/PNG/Icon-instagram.png) no-repeat 3px 3px;
}

.footer__row1--icons i:nth-child(2) {
  background: url(../assets/Icons/PNG/Icon-facebook.png) no-repeat 3px 3px;
}

.footer__row1--icons i:nth-child(3) {
  background: url(../assets/Icons/PNG/Icon-twitter.png) no-repeat 3px 3px;
}

.footer__row1--brand {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  letter-spacing: 1px;
}

.footer__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__row2 h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.footer__row2--left, .footer__row2--middle {
  margin-right: 60px;
}

.footer__row2--left h3:first-child,
.footer__row2--middle h3:first-child,
.footer__row2--right h3:first-child {
  margin: 0;
}

.footer__row2--left h3:nth-child(2),
.footer__row2--middle h3:nth-child(2),
.footer__row2--right h3:nth-child(2) {
  margin-top: 0;
}

.footer__row2--left p,
.footer__row2--middle p,
.footer__row2--right p {
  margin: 0;
}

.footer__row3 p {
  font-size: 14px;
  margin: 40px 0 0 0;
}

.footer a {
  text-decoration: none;
  color: #fff;
  margin-top: 24px;
  display: inline-block;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header__top {
    padding-left: 24px;
  }
  .header__bottom {
    height: 400px;
  }
  .header__bottom--heading {
    padding-left: 3.125%;
    width: none;
    display: block;
  }
  .header__bottom-show {
    position: relative;
  }
  .header__bottom-show--text {
    position: absolute;
    top: 96px;
    left: 24px;
    margin: 0;
  }
  .header__bottom-show--heading {
    top: 150px;
    padding-left: 24px;
  }
  .header__bottom-show--iframe {
    left: 24px;
    bottom: 50px;
  }
  .music {
    width: 720px;
  }
  .music__top--header1 {
    left: 0;
  }
  .music__top--header2 {
    width: 100%;
  }
  .music__top--image {
    height: 362px;
  }
  .music__bottom--left {
    margin-right: 24px;
  }
  .photoGallery__box {
    width: 720px;
  }
  .photoGallery__box--images figure {
    width: 224px;
    height: 126px;
  }
  .comment {
    width: 720px;
  }
  footer .footer {
    width: 720px;
  }
  footer .footer__row1--brand {
    font-size: 1.5em;
  }
  .show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48px 24px;
  }
  .show__left--header {
    width: 720px;
  }
  .show__right {
    width: 720px;
  }
  .show__right--table {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header__top {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__top--logo {
    margin-top: 10px;
  }
  .header__top--navList {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .header__top--navList .active {
    padding-bottom: 0;
  }
  .header__top--navList li {
    margin: 0;
    width: 160px;
    text-align: center;
  }
  .header__top--navList li a {
    width: 100%;
  }
  .header__top--navList li a:hover {
    padding-bottom: 0;
  }
  .header__bottom {
    height: 183px;
  }
  .header__bottom--heading {
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    width: 210px;
  }
  .header__bottom-show--text {
    font-size: 16px;
    font-weight: normal;
    top: 64px;
  }
  .header__bottom-show--heading {
    width: 288px;
    font-size: 36px;
    line-height: 60px;
    top: 110px;
  }
  .music {
    width: 320px;
  }
  .music__top {
    width: 288px;
    margin: auto;
  }
  .music__top--header1 {
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0 24px 0;
  }
  .music__top--header2 {
    font-size: 14px;
    line-height: 22px;
    margin: 24px 0 32px 0;
  }
  .music__top--musician {
    margin: 0 0 40px 0;
  }
  .music__top--bottomHeader2 {
    font-size: 14px;
    line-height: 22px;
    margin: 40px 0 24px 0;
  }
  .music__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 288px;
    margin-left: 16px;
  }
  .music__bottom--left, .music__bottom--right {
    width: 100%;
  }
  .music__bottom p {
    margin-bottom: 40px;
  }
  .photoGallery__box {
    width: 304px;
    margin-left: 16px;
  }
  .photoGallery__box--header {
    font-size: 24px;
    line-height: 32px;
    padding: 32px 0 24px 0;
    width: 288px;
  }
  .photoGallery__box--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .photoGallery__box--images figure:not(:nth-child(3n)) {
    margin: 0 16px 16px 0;
  }
  .photoGallery__box--images figure {
    width: 288px;
    height: 145px;
    margin: 0 16px 16px 0;
  }
  .comment {
    width: 288px;
  }
  .comment__header {
    font-size: 24px;
    line-height: 32px;
  }
  .comment__form {
    width: 100%;
  }
  .comment__form--name input {
    width: 224px;
  }
  .comment__form--text textarea, .comment__form--text {
    width: 194px;
  }
  .comment__form--btn {
    left: 70px;
    width: 224px;
  }
  .comment__content {
    width: 288px;
  }
  .comment__content--left {
    width: 70px;
    height: 40px;
  }
  footer {
    width: 320px;
  }
  footer .footer {
    width: 288px;
  }
  footer .footer__row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer__row1--header {
    font-size: 24px;
    line-height: 32px;
  }
  footer .footer__row1--brand {
    display: none;
  }
  footer .footer__row1--icons {
    margin-top: 10px;
  }
  footer .footer__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__row2 p, footer .footer__row2 a {
    font-weight: 100;
  }
  footer .footer__row2 a {
    margin: 24px 0;
  }
  footer .footer__row3 p {
    font-weight: 100;
    width: 220px;
  }
  .header__bottom-show--iframe {
    width: 288px;
    left: 15px;
  }
  .show {
    width: 288px;
    padding: 32px 16px;
  }
  .show__left--header {
    margin: 0 0 40px 0;
    width: 100%;
  }
  .show__right {
    width: 288px;
  }
  .show__right--table thead {
    display: none;
  }
  .show__right--table, .show__right tr {
    display: -ms-inline-grid;
    display: inline-grid;
    width: 100%;
    padding-top: 16px;
  }
  .show__right--table td:last-child {
    width: 100%;
  }
  .show__right--table td:nth-child(6) {
    margin-bottom: 32px;
  }
  .show__right--table thead th {
    display: none;
  }
  .show__right--table tbody td {
    margin-bottom: 24px;
  }
  .show__right--mobile-th {
    display: block;
    color: #AFAFAF;
    font-weight: normal;
    text-align: left;
    margin-bottom: 16px;
  }
  .show__right--btn {
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */